{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

 <h1>Liste des categories</h1>

    <ul>
        {% for category in categories %}

            <li>
                <a 
                    href="{{ path('app_category_show', {'id': category.id}) }}">{{ category.label }}
                </a>
                <a href="{{ path('app_category_delete', {'id': category.id}) }}">Supprimer</a>
            </li>

        {% endfor %}
    </ul>

{% endblock %}
