{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

    <h1>{{ category.label }}</h1>

    {% for media in category.medias %}

        <li>
            {{ media.title }}, 
            créer par {{ media.user.email }},
            le {{ media.createdAt|date('d/m/Y H:i:s') }}
        </li>

    {% endfor %}

{% endblock %}
