{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}




{% block body %}

    <h2>Les categories :</h2>
    <a href="{{ path('app_category') }}">Clique ici</a>

{% endblock %}
